@{
    Layout = null;
}
@using QLCongTacVien.Models;
@using MvcPaging;
@model UserModel
@{
    Layout = null;
    AjaxOptions ajaxTaoPhongBan = new AjaxOptions
    {
        UpdateTargetId = "content",
        LoadingElementDuration = 20000,
        OnBegin = "openBUI('result')",
        OnSuccess = "closeBUI('result')"
    };
}
@{
    var t = Model.ListUser.PageIndex + 1;
    var sSort = ViewBag.sSort == "ASC" ? "DESC" : "ASC";
}
<script type="text/javascript">
    $(function () {
        $('#optPageSizes').change(function (evt) {
            openBUI('result');
            if ($(this).val() != "-1") {
                $.ajax({
                    url: "/User/DanhSachUser",
                    type: 'POST',
                    data: { pagesize: $(this).val(), sField: "@ViewBag.sField", sSort: "@ViewBag.sSort",MaAccount:"@Model.Account.MaAccount",sTenUser:"@Model.sTenUser" },
                    success: function (response) {
                        closeBUI('result');
                        $('#content').html(response);
                    },
                    error: function (xhr) {
                        alert('error');
                        closeBUI('result');
                    }
                });
            }
        });

        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        var duplicateFilter = (function () {
            var lastContent;
            return function (content, callback) {
                content = $.trim(content);
                if (content != lastContent) {
                    callback(content);
                }
                lastContent = content;
            };
        })();

        $("#result").delegate('#user_name', 'keyup', function (event) {
            var self = this;
            delay(function () {
                duplicateFilter($(self).val(), function (c) {
                    var TenUser = $('#user_name').val();
                    SearchUser("@ViewBag.sField","@ViewBag.sSort", @t , @Model.ListUser.PageSize,"@Model.Account.MaAccount" , TenUser);

                });
            }, 500);

        });
    
    });

    function SearchUser(sField, sSort, page, pagesize,MaAccount, TenUser) {
        openBUI('resultsearch');
        $.ajax({
            url: "/User/DanhSachUserSearch",
            type: 'POST',
            data: { sField: sField, sSort: sSort, page: page, pagesize: pagesize,MaAccount:MaAccount,sTenUser:TenUser },
            success: function (response) {
                closeBUI('resultsearch');
                $('#resultsearch').html(response);
            },
            error: function (xhr) {
                alert('error');
                closeBUI('resultsearch');
            }
        });
    }

    function getDanhSachUser(MaAccount,sTenUser,sField, sSort, page, pagesize) {
        openBUI('result');
        $.ajax({
            url: "/User/DanhSachUser",
            type: 'POST',
            data: { sField: sField, sSort: sSort, page: page, pagesize: pagesize,MaAccount:MaAccount,sTenUser:sTenUser },
            success: function (response) {
                closeBUI('result');
                $('#content').html(response);
            },
            error: function (xhr) {
                alert('error');
                closeBUI('result');
            }
        });
    }
    function getDanhSachAccount(MaPhongban,LoaiAccount,AccountParent){       
        openBUI('result');
        $.ajax({
            url: "/Account/DanhSachAccount",
            type: 'POST',
            data: {MaPhongBan:MaPhongban,LoaiAccount:LoaiAccount,AccountParent:AccountParent },
            success: function (response) {
                closeBUI('result');
                $('#content').html(response);
            },
            error: function (xhr) {
                alert('error');
                closeBUI('result');
            }
        });
     
    }
   
</script>
<div class="holder ox3-app enterprise-view" style="height: auto;">
    <div class="ox3-widget-page-accounts ox3-widget-page" id="PageAccounts" style="display: block;">           		
        <div style="clear:both;"></div> 
            <div id="loadhead">
                <div id="headwrap">
	                <div id="breadcrumb">
		                <ul class="bcList ox3-widget-breadcrumb-accounts" id="BreadcrumbAccounts">
			                <li>
				                <div class="bcItem" id="subMenu">
					                <a onclick="getListAccount(1,10,'name','asc','',0,1);" href="javascript:void(0);" rel="tab" class="bcLink"><span class="bcLabel">Phòng Ban</span></a>
					                <div class="bcButton"></div>
                                     <a onclick="getListAccount(1,10,'name','asc','',0,1);" href="javascript:void(0);" rel="tab" class="bcLink"><span class="bcLabel">@Model.Account.TenAccount</span></a>
					                <div class="bcButton"></div>
				                </div>
			                </li>
			                <div class="clear"></div>
		                </ul>
	                </div>
	                <div class="head head-accounts">		
			                <h1></h1>
			                <div class="clear">&nbsp;</div>
	                </div>
                </div>
            <div id="ribbon_nav" class="ox3-widget-nav-ribbon_tabs">
                @if (Model.Account.tblAccount1.Count > 0)
                {
                <a href="javascript:void(0);" id="publishers" onclick="getDanhSachAccount('@Model.MaPhongBan','@Model.Account.LoaiAccount','@ViewBag.MaAccount');" class="ox3-widget-button first">
		            <div class="center">
			            <div var="icon"></div>
			            <div var="label container" class="label container">Danh Sách Account</div>
		            </div>
	            </a>
                } 
		        <a href="javascript:void(0);" id="publishers" class="ox3-widget-button active first">
		            <div class="center">
			            <div var="icon"></div>
			            <div var="label container" class="label container">Danh Sách User</div>
		            </div>
	            </a>
                
		    </div>
        </div>	
        <div style="clear:both;"></div> 
        <div id="resultform">
            @using (Ajax.BeginForm("XoaUser", "User", new { @MaAccount = @Model.Account.MaAccount }, ajaxTaoPhongBan, new { @style = "float:none;",@name="frmSearch",@id="frmSearch" }))
            {

           
		        
				<div id="result" style="position: relative; min-height: 0px;">		
                    <div style="clear:both;"></div> 		
                    	<div class="ox3-widget-table_list-accounts ox3-widget-table_list" id="accounts">
                    	<!-- start action -->                    	
						 <div class="controls" var="controls">
							<div class="wrap-a">
								<div class="button">
                                    
                                    @Ajax.ActionLink("Tạo User", "TaoUser", new { @sField = ViewBag.sField, @sSort = ViewBag.sSort, @page = t, @pagesize = Model.ListUser.PageSize, @MaAccount = Model.Account.MaAccount, @TenAccount = Model.Account.TenAccount, @sTenUser = @Model.sTenUser }, ajaxTaoPhongBan, new { @class = "bMain" })
								    
								</div>	
										
							   <div class="ox-modal-wrap bulk-action" style="position: relative; float: left;">
									<div class="button bulk-action">
                                       
                                        <a href="javascript:void(0);" onclick="$(this).parents('form').submit();" class="actions bMain">Xóa User</a>
                                        
									
									</div>
							  </div>
							</div>
							<div class="wrap-b">
								<a class="toggle-filter initTooltip" title="Filter Table"></a>
								<div class="search-box">
									<div class="sLeft"></div>
									<div class="sMain">
										<input type="text" id="user_name" name="user_name" value="">
									</div>
									<div class="sRight"></div>
								</div>
							</div>
						</div>
						<!-- end action -->    
                    	<div style="clear:both;"></div>
                    	<!-- start list account -->
                    	<div style="clear:both;"></div>
                        <div id="resultsearch">
                            <div>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="list accounts">
	                            <thead var="header">
		                           <tr>

			                            <th class="id first"><input type="checkbox" onclick="checkAll(this);" id="chkSelectAll"></th>
			                            <th onclick="getDanhSachUser('@Model.Account.MaAccount','@Model.sTenUser','UserName','@sSort',@t,@Model.ListUser.PageSize);" class="name sortable sorted-@{if (ViewBag.sField == "UserName")
                                                                                                                                                                                          {@ViewBag.sIcon}}"><span class="text">Tên User</span></th>
                                        <th onclick="getDanhSachUser('@Model.Account.MaAccount','@Model.sTenUser','TrangThai','@sSort',@t,@Model.ListUser.PageSize);" class="trangthai sortable sorted-@{if (ViewBag.sField == "TrangThai")
                                                                                                                                                                                                         {@ViewBag.sIcon}}"><span class="text">Trạng Thái</span></th>
			                           <th onclick="getDanhSachUser('@Model.Account.MaAccount','@Model.sTenUser','Email','@sSort',@t,@Model.ListUser.PageSize);" class="email sortable sorted-@{if (ViewBag.sField == "Email")
                                                                                                                                                                                       {@ViewBag.sIcon}}"><span class="text">Email</span></th>
                                       <th onclick="getDanhSachUser(@Model.Account.MaAccount,'@Model.sTenUser','GroupPermissionId','@sSort',@t,@Model.ListUser.PageSize);" class="quyenhan sortable sorted-@{if (ViewBag.sField == "GroupPermissionId")
                                                                                                                                                                                                             {@ViewBag.sIcon}}"><span class="text">Quyền hạn</span></th>
			                            <th  class="ghichu  "><span class="text">Ghi Chú</span>
			                            </th>
			                            <th onclick="getDanhSachUser('@Model.Account.MaAccount','@Model.sTenUser','UserTao','@sSort',@t,@Model.ListUser.PageSize);" class="usertao sortable sorted-@{if (ViewBag.sField == "UserTao")
                                                                                                                                                                                            {@ViewBag.sIcon}}"><span class="text">User Tạo</span></th>
			                            <th onclick="getDanhSachUser('@Model.Account.MaAccount','@Model.sTenUser','UserUpdate','@sSort',@t,@Model.ListUser.PageSize);" class="usercapnhat sortable sorted-@{if (ViewBag.sField == "UserUpdate")
                                                                                                                                                                                                   {@ViewBag.sIcon}}"><span class="text">User Cập Nhật</span></th>
                                         <th onclick="getDanhSachUser('@Model.Account.MaAccount','@Model.sTenUser','NgayTao','@sSort',@t,@Model.ListUser.PageSize);" class="ngaytao sortable sorted-@{if (ViewBag.sField == "NgayTao")
                                                                                                                                                                                                      {@ViewBag.sIcon}}"><span class="text">Ngày Tạo</span></th>
                                         <th onclick="getDanhSachUser('@Model.Account.MaAccount','@Model.sTenUser','NgayUpdate','@sSort',@t,@Model.ListUser.PageSize);" class="ngaycapnhat sortable sorted-@{if (ViewBag.sField == "NgayUpdate")
                                                                                                                                                                                                             {@ViewBag.sIcon}}"><span class="text">Ngày Cập Nhật</span></th>
                                         <th class="chucnang"><span class="text">Chức năng</span></th>
		                            </tr>
	                            </thead>
	                            <tbody class="container" var="container">	
                                       
                                        @if (Model.ListUser.Count() > 0)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.ListUser)
                                            {
                                                string strClass = "";
                                                if (i % 2 == 0)
                                                {
                                                    strClass = "class=even";
                                                }
                                                 <tr id="ox--account--@item.MaUser" @strClass>
					                                <td class="id"><input type="checkbox" name="check_id" id="check_id-@item.MaUser"  value="@item.MaUser"></td>
					                                <td class="name initTooltip">
                                                         @Ajax.ActionLink(item.UserName, "EditUser", new { @id = item.MaUser, @sField = ViewBag.sField, @sSort = ViewBag.sSort, @page = t, @pagesize = Model.ListUser.PageSize, @MaAccount = Model.Account.MaAccount, @sTenUser = @Model.sTenUser }, ajaxTaoPhongBan, null)
                                                         									                   
						                           </td>
                                                    <td class="trangthai initTooltip">
                                                         @{
                                                var strTrangThai = "";
                                                var color = "";
                                                if (item.TrangThai == 1)
                                                {
                                                    strTrangThai = "Hoạt động";
                                                    color = "color:#0863a0;";
                                                }
                                                else
                                                {
                                                    strTrangThai = "Ngừng Hoạt động";
                                                    color = "color:red;";
                                                }
                                                          }
                                                            @Ajax.ActionLink(strTrangThai, "ActiveUser", new { @MaAccount = Model.Account.MaAccount, @MaUser = item.MaUser, @Status = item.TrangThai, @sField = ViewBag.sField, @sSort = ViewBag.sSort, @page = t, @pagesize = Model.ListUser.PageSize, @sTenUser = @Model.sTenUser }, ajaxTaoPhongBan, new { @style = color })
									                   
                                                      
                                                             

									                   
						                           </td>
                                                    <td class="email initTooltip">
                                                      @item.Email
						                           </td>
                                                     <td class="quyenhan initTooltip">
                                                    &nbsp;
						                           </td>
					                           
					                                <td class="ghichu">@item.GhiChu</td>
					                                <td class="usertao">@item.UserTao</td>
					                                <td class="usercapnhat">
                                                        @item.UserUpdate
											        </td>
                                                     <td class="ngaytao">
                                                        @item.NgayTao
											        </td>
                                                    <td class="ngaycapnhat">
                                                         @item.NgayUpdate
											        </td>
                                                    <td class="chucnang">
                                                        @Ajax.ActionLink("a", "EditUser", new { @id = item.MaUser, @sField = ViewBag.sField, @sSort = ViewBag.sSort, @page = t, @pagesize = Model.ListUser.PageSize, @MaAccount = Model.Account.MaAccount, @sTenUser = @Model.sTenUser }, ajaxTaoPhongBan, new { @class = "action initTooltip edit", @title = "Edit" })
                                                    
											        </td>
				                             </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr class="even">
				                                <td colspan="9" align="center">Không có user nào.</td>
			                                </tr>
                                        }  
                                	  
					            </tbody>
	                            <tfoot var="footer"></tfoot>
                            </table>
                            </div>
                            <div style="clear:both;"></div>
                            
                         @if (Model.ListUser.Count() > 0)
                         {
                                
                            
                                <div class="pager">
                           
                                    @Html.Pager(Model.ListUser.PageSize, Model.ListUser.PageNumber, Model.ListUser.TotalItemCount, new AjaxOptions { UpdateTargetId = "content", OnBegin = "openBUI('result')", OnSuccess = "closeBUI('result')" }, "Trang đầu", "Trang trước", "Trang tiếp", "Trang cuối").Options(
                                                   o => o.Action("DanhSachUser").
                                                  AddRouteValue("pagesize", Model.ListUser.PageSize).
                                                  AddRouteValue("sField", ViewBag.sField).
                                                  AddRouteValue("sSort", ViewBag.sSort).
                                                  AddRouteValue("MaAccount", Model.Account.MaAccount).
                                                  AddRouteValue("sTenUser", Model.sTenUser)
                                            )
                          
                             </div>
                            <div style="clear:both;"></div>

                            <div class="paginateInfo" id="Pagination">
                                <div style="margin-bottom: 5px;margin-top: 5px">
                                  @{
                             List<SelectListItem> items = new List<SelectListItem>();
                             items.Add(new SelectListItem() { Text = "5", Value = "5", Selected = (Model.ListUser.PageSize == 5 ? true : false) });
                             items.Add(new SelectListItem() { Text = "10", Value = "10", Selected = (Model.ListUser.PageSize == 10 ? true : false) });
                             items.Add(new SelectListItem() { Text = "15", Value = "15", Selected = (Model.ListUser.PageSize == 15 ? true : false) });
                             items.Add(new SelectListItem() { Text = "20", Value = "20", Selected = (Model.ListUser.PageSize == 20 ? true : false) });
                             items.Add(new SelectListItem() { Text = "30", Value = "30", Selected = (Model.ListUser.PageSize == 30 ? true : false) });
                             items.Add(new SelectListItem() { Text = "50", Value = "50", Selected = (Model.ListUser.PageSize == 50 ? true : false) });
                             items.Add(new SelectListItem() { Text = "100", Value = "100", Selected = (Model.ListUser.PageSize == 100 ? true : false) });
                                      }    
                                    
                                   
                                    Display:   @Html.DropDownList("optPageSizes", items, new { @style = "width:50px;", @id = "optPageSizes" })
                                      
                                </div>
                            </div> 
                         
                            <div style="clear:both;"></div>
                         }
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>	
                <div style="clear:both;"></div>
            }
		</div>	
       <div style="clear:both;"></div> 
    </div>
 </div>
 <div class="clear">&nbsp;</div>
  

