@{
    Layout = null;
}
@using QLCongTacVien.Models;
@using MvcPaging;
@model UserModel
@{
    Layout = null;
    AjaxOptions ajaxTaoPhongBan = new AjaxOptions
    {
        UpdateTargetId = "content",
        LoadingElementDuration = 20000,
        OnBegin = "openBUI('result')",
        OnSuccess = "closeBUI('result')"
    };
    AjaxOptions ajaxTaoPhongBanSearch = new AjaxOptions
    {
        UpdateTargetId = "resultsearch",
        LoadingElementDuration = 20000,
        OnBegin = "openBUI('resultsearch')",
        OnSuccess = "closeBUI('resultsearch')"
    };
}
@{
    var t = Model.ListUser.PageIndex + 1;
    var sSort = ViewBag.sSort == "ASC" ? "DESC" : "ASC";
}
<script type="text/javascript">
    $(function () {
        $('#optPageSizesSearch').change(function (evt) {
            openBUI('resultsearch');
            if ($(this).val() != "-1") {
                $.ajax({
                    url: "/User/DanhSachUserSameAccountSearch",
                    type: 'POST',
                    data: { pagesize: $(this).val(), sField: "@ViewBag.sField", sSort: "@ViewBag.sSort",MaUser:"@ViewBag.MaUser",sTenUser:"@Model.sTenUser" },
                    success: function (response) {
                        closeBUI('resultsearch');
                        $('#resultsearch').html(response);
                    },
                    error: function (xhr) {
                        alert('error');
                        closeBUI('resultsearch');
                    }
                });
            }
        });

       
    });
   

    function getDanhSachUserSearch(MaUser,sTenUser,sField, sSort, page, pagesize) {
        openBUI('resultsearch');
        $.ajax({
            url: "/User/DanhSachUserSameAccountSearch",
            type: 'POST',
            data: { sField: sField, sSort: sSort, page: page, pagesize: pagesize,MaUser:MaUser,sTenUser:sTenUser },
            success: function (response) {
                closeBUI('resultsearch');
                $('#resultsearch').html(response);
            },
            error: function (xhr) {
                alert('error');
                closeBUI('resultsearch');
            }
        });
    }
 

   
</script>

                            <div>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="list accounts">
	                            <thead var="header">
		                           <tr>

			                            <th class="id first"><input type="checkbox" onclick="checkAll(this);" id="chkSelectAll"></th>
			                            <th onclick="getDanhSachUserSearch('@ViewBag.MaUser','@Model.sTenUser','UserName','@sSort',@t,@Model.ListUser.PageSize);" class="name sortable sorted-@{if (ViewBag.sField == "UserName")
                                                                                                                                                                                          {@ViewBag.sIcon}}"><span class="text">Tên User</span></th>
                                        <th onclick="getDanhSachUserSearch('@ViewBag.MaUser','@Model.sTenUser','TrangThai','@sSort',@t,@Model.ListUser.PageSize);" class="trangthai sortable sorted-@{if (ViewBag.sField == "TrangThai")
                                                                                                                                                                                                         {@ViewBag.sIcon}}"><span class="text">Trạng Thái</span></th>
			                           <th onclick="getDanhSachUserSearch('@ViewBag.MaUser','@Model.sTenUser','Email','@sSort',@t,@Model.ListUser.PageSize);" class="email sortable sorted-@{if (ViewBag.sField == "Email")
                                                                                                                                                                                       {@ViewBag.sIcon}}"><span class="text">Email</span></th>
                                       <th onclick="getDanhSachUserSearch(@ViewBag.MaUser,'@Model.sTenUser','GroupPermissionId','@sSort',@t,@Model.ListUser.PageSize);" class="quyenhan sortable sorted-@{if (ViewBag.sField == "GroupPermissionId")
                                                                                                                                                                                                             {@ViewBag.sIcon}}"><span class="text">Quyền hạn</span></th>
			                            <th  class="ghichu  "><span class="text">Ghi Chú</span>
			                            </th>
			                            <th onclick="getDanhSachUserSearch('@ViewBag.MaUser','@Model.sTenUser','UserTao','@sSort',@t,@Model.ListUser.PageSize);" class="usertao sortable sorted-@{if (ViewBag.sField == "UserTao")
                                                                                                                                                                                            {@ViewBag.sIcon}}"><span class="text">User Tạo</span></th>
			                            <th onclick="getDanhSachUserSearch('@ViewBag.MaUser','@Model.sTenUser','UserUpdate','@sSort',@t,@Model.ListUser.PageSize);" class="usercapnhat sortable sorted-@{if (ViewBag.sField == "UserUpdate")
                                                                                                                                                                                                   {@ViewBag.sIcon}}"><span class="text">User Cập Nhật</span></th>
                                         <th onclick="getDanhSachUserSearch('@ViewBag.MaUser','@Model.sTenUser','NgayTao','@sSort',@t,@Model.ListUser.PageSize);" class="ngaytao sortable sorted-@{if (ViewBag.sField == "NgayTao")
                                                                                                                                                                                                      {@ViewBag.sIcon}}"><span class="text">Ngày Tạo</span></th>
                                         <th onclick="getDanhSachUserSearch('@ViewBag.MaUser','@Model.sTenUser','NgayUpdate','@sSort',@t,@Model.ListUser.PageSize);" class="ngaycapnhat sortable sorted-@{if (ViewBag.sField == "NgayUpdate")
                                                                                                                                                                                                             {@ViewBag.sIcon}}"><span class="text">Ngày Cập Nhật</span></th>
                                         <th class="chucnang"><span class="text">Chức năng</span></th>
		                            </tr>
	                            </thead>
	                            <tbody class="container" var="container">	
                                       
                                        @if (Model.ListUser.Count() > 0)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.ListUser)
                                            {
                                                string strClass = "";
                                                if (i % 2 == 0)
                                                {
                                                    strClass = "class=even";
                                                }
                                                 <tr id="ox--account--@item.MaUser" @strClass>
					                                <td class="id"><input type="checkbox" name="check_id" id="check_id-@item.MaUser"  value="@item.MaUser"></td>
					                                <td class="name initTooltip">
                                                         @Ajax.ActionLink(item.UserName, "EditUser", new { @id = item.MaUser, @sField = ViewBag.sField, @sSort = ViewBag.sSort, @page = t, @pagesize = Model.ListUser.PageSize, @MaAccount = Model.Account.MaAccount, @sTenUser = @Model.sTenUser }, ajaxTaoPhongBan, null)
                                                         									                   
						                           </td>
                                                    <td class="trangthai initTooltip">
                                                         @{
                                                var strTrangThai = "";
                                                var color = "";
                                                if (item.TrangThai == 1)
                                                {
                                                    strTrangThai = "Hoạt động";
                                                    color = "color:#0863a0;";
                                                }
                                                else
                                                {
                                                    strTrangThai = "Ngừng Hoạt động";
                                                    color = "color:red;";
                                                }
                                                          }
                                                            @Ajax.ActionLink(strTrangThai, "ActiveUserSameAccountSearch", new { @MaAccount = Model.Account.tblUsers.First().tblAccounts.First().MaAccount, @MaUser = item.MaUser, @Status = item.TrangThai, @sField = ViewBag.sField, @sSort = ViewBag.sSort, @page = t, @pagesize = Model.ListUser.PageSize, @sTenUser = @Model.sTenUser }, ajaxTaoPhongBanSearch, new { @style = color })
									                   
                                                      
                                                             

									                   
						                           </td>
                                                    <td class="email initTooltip">
                                                      @item.Email
						                           </td>
                                                     <td class="quyenhan initTooltip">
                                                    &nbsp;
						                           </td>
					                           
					                                <td class="ghichu">@item.GhiChu</td>
					                                <td class="usertao">@item.UserTao</td>
					                                <td class="usercapnhat">
                                                        @item.UserUpdate
											        </td>
                                                     <td class="ngaytao">
                                                        @item.NgayTao
											        </td>
                                                    <td class="ngaycapnhat">
                                                         @item.NgayUpdate
											        </td>
                                                    <td class="chucnang">
                                                        @Ajax.ActionLink("a", "EditUserSameAccount", new { @id = item.MaUser, @sField = ViewBag.sField, @sSort = ViewBag.sSort, @page = t, @pagesize = Model.ListUser.PageSize, @MaAccount = Model.Account.MaAccount, @sTenUser = @Model.sTenUser }, ajaxTaoPhongBan, new { @class = "action initTooltip edit", @title = "Edit" })
                                                    
											        </td>
				                             </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr class="even">
				                                <td colspan="9" align="center">Không có user nào.</td>
			                                </tr>
                                        }  
                                	  
					            </tbody>
	                            <tfoot var="footer"></tfoot>
                            </table>
                            </div>
                            <div style="clear:both;"></div>
                            
                         @if (Model.ListUser.Count() > 0)
                         {
                                
                            
                                <div class="pager">
                           
                                    @Html.Pager(Model.ListUser.PageSize, Model.ListUser.PageNumber, Model.ListUser.TotalItemCount, new AjaxOptions { UpdateTargetId = "content", OnBegin = "openBUI('result')", OnSuccess = "closeBUI('result')" }, "Trang đầu", "Trang trước", "Trang tiếp", "Trang cuối").Options(
                                                   o => o.Action("DanhSachSameAccountSearch").
                                                  AddRouteValue("pagesize", Model.ListUser.PageSize).
                                                  AddRouteValue("sField", ViewBag.sField).
                                                  AddRouteValue("sSort", ViewBag.sSort).
                                                  AddRouteValue("MaUser",ViewBag.MaUser).
                                                  AddRouteValue("sTenUser", Model.sTenUser)
                                            )
                          
                             </div>
                            <div style="clear:both;"></div>

                            <div class="paginateInfo" id="Pagination">
                                <div style="margin-bottom: 5px;margin-top: 5px">
                                  @{
                             List<SelectListItem> items = new List<SelectListItem>();
                             items.Add(new SelectListItem() { Text = "5", Value = "5", Selected = (Model.ListUser.PageSize == 5 ? true : false) });
                             items.Add(new SelectListItem() { Text = "10", Value = "10", Selected = (Model.ListUser.PageSize == 10 ? true : false) });
                             items.Add(new SelectListItem() { Text = "15", Value = "15", Selected = (Model.ListUser.PageSize == 15 ? true : false) });
                             items.Add(new SelectListItem() { Text = "20", Value = "20", Selected = (Model.ListUser.PageSize == 20 ? true : false) });
                             items.Add(new SelectListItem() { Text = "30", Value = "30", Selected = (Model.ListUser.PageSize == 30 ? true : false) });
                             items.Add(new SelectListItem() { Text = "50", Value = "50", Selected = (Model.ListUser.PageSize == 50 ? true : false) });
                             items.Add(new SelectListItem() { Text = "100", Value = "100", Selected = (Model.ListUser.PageSize == 100 ? true : false) });
                                      }    
                                    
                                   
                                    Display:   @Html.DropDownList("optPageSizesSearch", items, new { @style = "width:50px;", @id = "optPageSizesSearch" })
                                      
                                </div>
                            </div> 
                         
                            <div style="clear:both;"></div>
                         }
                        